label {
  color: white;
}

#box {
  border: 1px solid grey;
  border-radius: 16px;
  padding: 8px;
  margin: 8px;
  display: inline-flex;
  flex-direction: column;

  > * {
    margin: 4px;
  }
}

.flex-row {
    display: flex;
    flex-direction: row;
    >* {
        margin: 2px; 
    }
}