<div id="box">
    <input readonly="readonly" [ngModel]="password">
    <input type="button" id="copyButton" value="Copy Password" (click)="copyPW()">
    <button (click)="generatePW()">Generate</button>
    <input type="number" min="1" max="999999" placeholder="Password Length" [(ngModel)]="password_length">
    
    <label><input type="checkbox" [(checked)]="useUppercase"> Uppercase Letters [A...Z]</label>
    <label><input type="checkbox" [(checked)]="useLowercase"> Lowercase Letters [a...z]</label>
    <label><input type="checkbox" [(checked)]="useNumbers"> Numbers [0...9]</label>
    <label><input type="checkbox" [(checked)]="useSymbols"> Symbols</label>
    <div class="flex-row">
        <input type="checkbox" [(checked)]="useCustomChars"><textarea id="custom" placeholder="Custom Charset"></textarea>
    </div>

    <button type="button" (click)="printPW()">Print Password</button>
</div>