.controls {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

canvas {
  background-color: var(--md-sys-color-surface-container-high);
}

* {
  margin: 5px;
}